#sauce_config.tab-pane.widget(data-widget="/ext/strider-sauce/sauce_config.js")
  .row-fluid
    .span10
      h3 Sauce Settings
      p
      hr
      form.well
        fieldset
          legend Sauce Credentials
          div.alert.alert-success.hide
          .row.details
            .span8
              .control-group
                .controls
                  label Username
                    input.sauce-username.large(type='text',name='sauce_username', placeholder="sauce username")
                  label Access Key
                    input.sauce-access-key.xlarge(size='25', type='text',name='sauce_access_key', placeholder="sauce access key")
                  a#sauce-save.btn.btn-primary.btn-save-sauce Save
      form
        .well
          legend Windows
          table.table.table-condensed

            tr
              th(rowspan=2) 
                img(src="/images/firefox.png", alt="Firefox")
              td XP
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-15") 
                  | 15
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-14") 
                  | 14
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-13") 
                  | 13
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-12") 
                  | 12
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-11") 
                  | 11
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-10") 
                  | 10
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-9") 
                  | 9
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-8") 
                  | 8
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-7") 
                  | 7
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-6") 
                  | 6
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-5") 
                  | 5
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-4") 
                  | 4
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-3.6") 
                  | 3.6
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-3.5") 
                  | 3.5
               td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-firefox-3") 
                  | 3
            tr
              td Vista
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-15") 
                  | 15
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-14") 
                  | 14
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-13") 
                  | 13
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-12") 
                  | 12
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-11") 
                  | 11
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-10") 
                  | 10
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-9") 
                  | 9
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-8") 
                  | 8
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-7") 
                  | 7
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-6") 
                  | 6
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-5") 
                  | 5
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2008-firefox-4") 
                  | 4
            tr
              th(rowspan=2) 
                img(src="/images/opera.png", alt="Opera")
              td XP
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2003-opera-12") 
                  | 12
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-opera-11") 
                  | 11
            tr
              td Vista
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2008-opera-12") 
                  | 12
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2008-opera-11") 
                  | 11

            tr
              th(rowspan=2) 
                img(src="/images/chrome.png", alt="Chrome")
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2003-chrome-") 
                  | XP
            tr
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2008-chrome-") 
                  | Vista
            tr
              th(rowspan=2) 
                img(src="/images/iexplore.png", alt="Internet Explorer")
              td XP
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2003-internet explorer-8") 
                  | 8
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-internet explorer-7") 
                  | 7
              td
                label.checkbox
                  input(type="checkbox",value="Windows 2003-internet explorer-6") 
                  | 6
            tr
              td Vista
              td 
                label.checkbox
                  input(type="checkbox",value="Windows 2008-internet explorer-9") 
                  | 9
        .well
          legend MacOS
          table.table.table-condensed
            tr
              th
                img(src="/images/firefox.png", alt="Firefox")
              td 
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-firefox-15") 
                  | 15
              td
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-firefox-14") 
                  | 14
              td
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-firefox-13") 
                  | 13
              td 
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-firefox-12") 
                  | 12
              td
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-firefox-11") 
                  | 11
              td
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-firefox-10") 
                  | 10
              td 
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-firefox-9") 
                  | 9
              td
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-firefox-8") 
                  | 8
              td
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-firefox-7") 
                  | 7
            tr
              th
                img(src="/images/chrome.png", alt="Chrome")
              td 
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-chrome-") 
                  | Latest
            tr
              th
                img(src="/images/safari.png", alt="Safari")
              td 
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-safari-5") 
                  | Latest

            tr
              th
                h3
                  img(src="/images/iphone.png", alt="iPhone")
                  | iPhone
              td 
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-iphone-5") 
                  | 5
              td 
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-iphone-4.3") 
                  | 4.3
            tr
              th
                h3
                  img(src="/images/ipad.png", alt="iPad")
                  | iPad
              td 
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-ipad-5") 
                  | 5
              td 
                label.checkbox
                  input(type="checkbox",value="Mac 10.6-ipad-4.3") 
                  | 4.3


      form
        .well
          legend Linux
          table.table.table-condensed
            tr
              th
                img(src="/images/firefox.png", alt="Firefox")
              td 
                label.checkbox
                  input(type="checkbox",value="linux-firefox-15") 
                  | 15
              td
                label.checkbox
                  input(type="checkbox",value="linux-firefox-14") 
                  | 14
              td
                label.checkbox
                  input(type="checkbox",value="linux-firefox-13") 
                  | 13
              td 
                label.checkbox
                  input(type="checkbox",value="linux-firefox-12") 
                  | 12
              td
                label.checkbox
                  input(type="checkbox",value="linux-firefox-11") 
                  | 11
              td
                label.checkbox
                  input(type="checkbox",value="linux-firefox-10") 
                  | 10
              td 
                label.checkbox
                  input(type="checkbox",value="linux-firefox-9") 
                  | 9
              td
                label.checkbox
                  input(type="checkbox",value="linux-firefox-8") 
                  | 8
              td
                label.checkbox
                  input(type="checkbox",value="linux-firefox-7") 
                  | 7
              td 
                label.checkbox
                  input(type="checkbox",value="linux-firefox-6") 
                  | 6
              td
                label.checkbox
                  input(type="checkbox",value="linux-firefox-5") 
                  | 5
              td
                label.checkbox
                  input(type="checkbox",value="linux-firefox-4") 
                  | 4
              td
                label.checkbox
                  input(type="checkbox",value="linux-firefox-3.6") 
                  | 3.6
              td
                label.checkbox
                  input(type="checkbox",value="linux-firefox-3.5") 
                  | 3.5
               td
                label.checkbox
                  input(type="checkbox",value="linux-firefox-3") 
                  | 3

            tr
              th
                img(src="/images/opera.png", alt="Opera")
              td 
                label.checkbox
                  input(type="checkbox",value="linux-opera") 
                  | Latest
            tr
              th
                img(src="/images/chrome.png", alt="Chrome")
              td 
                label.checkbox
                  input(type="checkbox",value="linux-chrome") 
                  | Latest
            tr
              th
                img(src="/images/android.png", alt="Android")
              td 
                label.checkbox
                  input(type="checkbox",value="linux-android-4") 
                  | 4

