<div id="sauce_config" data-widget="/ext/strider-sauce/sauce_config.js" class="tab-pane widget">
  <div class="row-fluid">
    <div class="span10">
      <h3>Sauce Settings</h3>
      <p></p>
      <hr/>
      <form class="well">
        <fieldset>
          <legend>Sauce Credentials</legend>
          <div class="alert alert-success hide"></div>
          <div class="row details">
            <div class="span8">
              <div class="control-group">
                <div class="controls"><label>Username<input type="text" name="sauce_username" placeholder="sauce username" class="sauce-username large"/></label><label>Access Key<input size="25" type="text" name="sauce_access_key" placeholder="sauce access key" class="sauce-access-key xlarge"/></label><a id="sauce-save" class="btn btn-primary btn-save-sauce">Save</a></div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <form>
        <div class="well">
          <legend>Windows</legend>
          <table class="table table-condensed">
            <tr>
              <th rowspan="2"> <img src="/images/firefox.png" alt="Firefox"/></th>
              <td>XP</td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-15"/>15</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-14"/>14</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-13"/>13</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-12"/>12</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-11"/>11</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-10"/>10</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-9"/>9</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-8"/>8</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-7"/>7</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-6"/>6</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-5"/>5</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-4"/>4</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-3.6"/>3.6</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-3.5"/>3.5</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-firefox-3"/>3</label></td>
            </tr>
            <tr>
              <td>Vista</td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-15"/>15</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-14"/>14</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-13"/>13</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-12"/>12</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-11"/>11</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-10"/>10</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-9"/>9</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-8"/>8</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-7"/>7</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-6"/>6</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-5"/>5</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2008-firefox-4"/>4</label></td>
            </tr>
            <tr>
              <th rowspan="2"> <img src="/images/opera.png" alt="Opera"/></th>
              <td>XP</td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2003-opera-12"/>12</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-opera-11"/>11</label></td>
            </tr>
            <tr>
              <td>Vista</td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2008-opera-12"/>12</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2008-opera-11"/>11</label></td>
            </tr>
            <tr>
              <th rowspan="2"> <img src="/images/chrome.png" alt="Chrome"/></th>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2003-chrome-"/>XP</label></td>
            </tr>
            <tr>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2008-chrome-"/>Vista</label></td>
            </tr>
            <tr>
              <th rowspan="2"> <img src="/images/iexplore.png" alt="Internet Explorer"/></th>
              <td>XP</td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2003-internet explorer-8"/>8</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-internet explorer-7"/>7</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Windows 2003-internet explorer-6"/>6</label></td>
            </tr>
            <tr>
              <td>Vista</td>
              <td> <label class="checkbox"><input type="checkbox" value="Windows 2008-internet explorer-9"/>9</label></td>
            </tr>
          </table>
        </div>
        <div class="well">
          <legend>MacOS</legend>
          <table class="table table-condensed">
            <tr>
              <th><img src="/images/firefox.png" alt="Firefox"/></th>
              <td> <label class="checkbox"><input type="checkbox" value="Mac 10.6-firefox-15"/>15</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Mac 10.6-firefox-14"/>14</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Mac 10.6-firefox-13"/>13</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="Mac 10.6-firefox-12"/>12</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Mac 10.6-firefox-11"/>11</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Mac 10.6-firefox-10"/>10</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="Mac 10.6-firefox-9"/>9</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Mac 10.6-firefox-8"/>8</label></td>
              <td><label class="checkbox"><input type="checkbox" value="Mac 10.6-firefox-7"/>7</label></td>
            </tr>
            <tr>
              <th><img src="/images/chrome.png" alt="Chrome"/></th>
              <td> <label class="checkbox"><input type="checkbox" value="Mac 10.6-chrome-"/>Latest</label></td>
            </tr>
            <tr>
              <th><img src="/images/safari.png" alt="Safari"/></th>
              <td> <label class="checkbox"><input type="checkbox" value="Mac 10.6-safari-5"/>Latest</label></td>
            </tr>
            <tr>
              <th>
                <h3><img src="/images/iphone.png" alt="iPhone"/>iPhone</h3>
              </th>
              <td> <label class="checkbox"><input type="checkbox" value="Mac 10.6-iphone-5"/>5</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="Mac 10.6-iphone-4.3"/>4.3</label></td>
            </tr>
            <tr>
              <th>
                <h3><img src="/images/ipad.png" alt="iPad"/>iPad</h3>
              </th>
              <td> <label class="checkbox"><input type="checkbox" value="Mac 10.6-ipad-5"/>5</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="Mac 10.6-ipad-4.3"/>4.3</label></td>
            </tr>
          </table>
        </div>
      </form>
      <form>
        <div class="well">
          <legend>Linux</legend>
          <table class="table table-condensed">
            <tr>
              <th><img src="/images/firefox.png" alt="Firefox"/></th>
              <td> <label class="checkbox"><input type="checkbox" value="linux-firefox-15"/>15</label></td>
              <td><label class="checkbox"><input type="checkbox" value="linux-firefox-14"/>14</label></td>
              <td><label class="checkbox"><input type="checkbox" value="linux-firefox-13"/>13</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="linux-firefox-12"/>12</label></td>
              <td><label class="checkbox"><input type="checkbox" value="linux-firefox-11"/>11</label></td>
              <td><label class="checkbox"><input type="checkbox" value="linux-firefox-10"/>10</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="linux-firefox-9"/>9</label></td>
              <td><label class="checkbox"><input type="checkbox" value="linux-firefox-8"/>8</label></td>
              <td><label class="checkbox"><input type="checkbox" value="linux-firefox-7"/>7</label></td>
              <td> <label class="checkbox"><input type="checkbox" value="linux-firefox-6"/>6</label></td>
              <td><label class="checkbox"><input type="checkbox" value="linux-firefox-5"/>5</label></td>
              <td><label class="checkbox"><input type="checkbox" value="linux-firefox-4"/>4</label></td>
              <td><label class="checkbox"><input type="checkbox" value="linux-firefox-3.6"/>3.6</label></td>
              <td><label class="checkbox"><input type="checkbox" value="linux-firefox-3.5"/>3.5</label></td>
              <td><label class="checkbox"><input type="checkbox" value="linux-firefox-3"/>3</label></td>
            </tr>
            <tr>
              <th><img src="/images/opera.png" alt="Opera"/></th>
              <td> <label class="checkbox"><input type="checkbox" value="linux-opera"/>Latest</label></td>
            </tr>
            <tr>
              <th><img src="/images/chrome.png" alt="Chrome"/></th>
              <td> <label class="checkbox"><input type="checkbox" value="linux-chrome"/>Latest</label></td>
            </tr>
            <tr>
              <th><img src="/images/android.png" alt="Android"/></th>
              <td> <label class="checkbox"><input type="checkbox" value="linux-android-4"/>4</label></td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
