<div id="sauce_config" data-widget="/ext/strider-sauce/sauce_config.js" class="tab-pane widget">
  <div class="row-fluid">
    <div class="span10">
      <h3>Sauce Settings</h3>
      <p></p>
      <hr/>
      <form class="well">
        <fieldset>
          <legend>Sauce Credentials</legend>
          <div class="alert alert-success hide"></div>
          <div class="row details">
            <div class="span8">
              <div class="control-group">
                <div class="controls"><label>Username<input type="text" name="sauce_username" placeholder="sauce username" class="sauce-username large"/></label><label>Access Key<input size="25" type="text" name="sauce_access_key" placeholder="sauce access key" class="sauce-access-key xlarge"/></label><a id="sauce-save" class="btn btn-primary btn-save-sauce">Save</a></div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <form class='sauce-browsers'>
      </form>
    </div>
  </div>

<style>
.saucebrowser{
  float:left;
  padding:5px;
  border:1px solid #bbb;
  margin:2px;
}
.saucebrowserc{
  clear:both;
}
</style>

  <script>

$(function(){
  var $os = {}

  for (var i =0; i<browsers.length; i++){
    var o = $os[browsers[i].os]

    if (!o){
      o = $("<div class='saucebrowserc " + browsers[i].os + "' />")
      o.append("<h2>" + browsers[i].os + "</h2>")
      $os[browsers[i].os] = o
      $(".sauce-browsers").append(o);
    }

    var b = o.find(".browser-" + browsers[i].api_name)

    if (!b.is("*")){
      b = $("<div class='saucebrowserc browser-" + browsers[i].api_name + "' />")
      b.append("<h3>" + browsers[i].long_name + "</h3>")
      o.append(b);
    }

    b.append(
      "<div class='saucebrowser'><label>" + browsers[i].short_version + "</label>" + 
      "<input type='checkbox' value='" + browsers[i].os + "-" + browsers[i].api_name + "-" + browsers[i].short_version +"' /></div>"
    )
  }
})

// curl -X GET http://saucelabs.com/rest/v1/info/browsers/webdriver | pbcopy
var browsers = [
  {
    "long_name":"iPad",
    "api_name":"ipad",
    "long_version":"4.3.",
    "preferred_version":"5",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"4.3",
    "scout":"webdriver"
  },
  {
    "long_name":"iPad",
    "api_name":"ipad",
    "long_version":"5.0.",
    "preferred_version":"5",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"5",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"4.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"4",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"5.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"5",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"6.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"6",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"7.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"7",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"8.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"8",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"9.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"9",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"10.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"10",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"11.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"11",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"12.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"12",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"13.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"13",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"14.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"14",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"15.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"15",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"16.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"16",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"17.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"17",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"18.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"18",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"19.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"19",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"20.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"20",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"21.0b6.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"21",
    "scout":"webdriver"
  },
  {
    "long_name":"iPhone",
    "api_name":"iphone",
    "long_version":"4.3.",
    "preferred_version":"5",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"4.3",
    "scout":"webdriver"
  },
  {
    "long_name":"iPhone",
    "api_name":"iphone",
    "long_version":"5.0.",
    "preferred_version":"5",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"5",
    "scout":"webdriver"
  },
  {
    "long_name":"Safari",
    "api_name":"safari",
    "long_version":"5.1.7.",
    "preferred_version":"5",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"5",
    "scout":"webdriver"
  },
  {
    "long_name":"Google Chrome",
    "api_name":"chrome",
    "long_version":"27.0.1453.110.",
    "preferred_version":"",
    "automation_backend":"webdriver",
    "os":"Mac 10.6",
    "short_version":"",
    "scout":"webdriver"
  },
  {
    "long_name":"Internet Explorer",
    "api_name":"internet explorer",
    "long_version":"9.0.8112.16421.",
    "preferred_version":"9",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"9",
    "scout":"webdriver"
  },
  {
    "long_name":"Internet Explorer",
    "api_name":"internet explorer",
    "long_version":"6.0.3790.3959.",
    "preferred_version":"8",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"6",
    "scout":"webdriver"
  },
  {
    "long_name":"Internet Explorer",
    "api_name":"internet explorer",
    "long_version":"8.0.7601.17514.",
    "preferred_version":"9",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"8",
    "scout":"webdriver"
  },
  {
    "long_name":"Opera",
    "api_name":"opera",
    "long_version":"11.64.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"11",
    "scout":"selenium"
  },
  {
    "long_name":"Opera",
    "api_name":"opera",
    "long_version":"12.12.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"12",
    "scout":"selenium"
  },
  {
    "long_name":"Internet Explorer",
    "api_name":"internet explorer",
    "long_version":"8.0.6001.18702.",
    "preferred_version":"8",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"8",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"3.0.19.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"3.0",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"3.5.19.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"3.5",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"3.6.28.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"3.6",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"4.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"4",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"5.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"5",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"6.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"6",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"7.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"7",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"8.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"8",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"9.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"9",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"10.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"10",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"11.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"11",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"12.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"12",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"13.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"13",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"14.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"14",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"15.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"15",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"16.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"16",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"17.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"17",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"18.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"18",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"19.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"19",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"20.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"20",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"21.0b1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"21",
    "scout":"webdriver"
  },
  {
    "long_name":"Google Chrome",
    "api_name":"chrome",
    "long_version":"27.0.1453.110.",
    "preferred_version":"",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"",
    "scout":"webdriver"
  },
  {
    "long_name":"Opera",
    "api_name":"opera",
    "long_version":"11.64.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"11",
    "scout":"selenium"
  },
  {
    "long_name":"Opera",
    "api_name":"opera",
    "long_version":"12.12.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"12",
    "scout":"selenium"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"3.0.19.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"3.0",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"3.5.19.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"3.5",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"3.6.28.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"3.6",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"4.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"4",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"5.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"5",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"6.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"6",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"7.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"7",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"8.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"8",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"9.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"9",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"10.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"10",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"11.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"11",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"12.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"12",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"13.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"13",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"14.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"14",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"15.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"15",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"16.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"16",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"17.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"17",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"18.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"18",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"19.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"19",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"20.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"20",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"21.0b1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"21",
    "scout":"webdriver"
  },
  {
    "long_name":"Safari",
    "api_name":"safari",
    "long_version":"5.1.7.",
    "preferred_version":"5",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"5",
    "scout":"webdriver"
  },
  {
    "long_name":"Google Chrome",
    "api_name":"chrome",
    "long_version":"27.0.1453.110.",
    "preferred_version":"",
    "automation_backend":"webdriver",
    "os":"Windows 2008",
    "short_version":"",
    "scout":"webdriver"
  },
  {
    "long_name":"Internet Explorer",
    "api_name":"internet explorer",
    "long_version":"10.0.9200.16580.",
    "preferred_version":"10",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"10",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"3.0.19.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"3.0",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"3.5.19.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"3.5",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"3.6.28.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"3.6",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"4.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"4",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"5.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"5",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"6.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"6",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"7.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"7",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"8.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"8",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"9.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"9",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"10.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"10",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"11.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"11",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"12.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"12",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"13.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"13",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"14.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"14",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"15.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"15",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"16.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"16",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"17.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"17",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"18.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"18",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"19.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"19",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"20.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"20",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"21.0b1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"21",
    "scout":"webdriver"
  },
  {
    "long_name":"Google Chrome",
    "api_name":"chrome",
    "long_version":"27.0.1453.110.",
    "preferred_version":"",
    "automation_backend":"webdriver",
    "os":"Windows 2012",
    "short_version":"",
    "scout":"webdriver"
  },
  {
    "long_name":"Internet Explorer",
    "api_name":"internet explorer",
    "long_version":"7.0.5730.13.",
    "preferred_version":"8",
    "automation_backend":"webdriver",
    "os":"Windows 2003",
    "short_version":"7",
    "scout":"webdriver"
  },
  {
    "long_name":"iPad",
    "api_name":"ipad",
    "long_version":"5.1.",
    "preferred_version":"5.1",
    "automation_backend":"webdriver",
    "os":"Mac 10.8",
    "short_version":"5.1",
    "scout":"webdriver"
  },
  {
    "long_name":"iPad",
    "api_name":"ipad",
    "long_version":"6.0.",
    "preferred_version":"5.1",
    "automation_backend":"webdriver",
    "os":"Mac 10.8",
    "short_version":"6",
    "scout":"webdriver"
  },
  {
    "long_name":"iPhone",
    "api_name":"iphone",
    "long_version":"5.1.",
    "preferred_version":"5.1",
    "automation_backend":"webdriver",
    "os":"Mac 10.8",
    "short_version":"5.1",
    "scout":"webdriver"
  },
  {
    "long_name":"iPhone",
    "api_name":"iphone",
    "long_version":"6.0.",
    "preferred_version":"5.1",
    "automation_backend":"webdriver",
    "os":"Mac 10.8",
    "short_version":"6",
    "scout":"webdriver"
  },
  {
    "long_name":"Safari",
    "api_name":"safari",
    "long_version":"6.0.4.",
    "preferred_version":"5",
    "automation_backend":"webdriver",
    "os":"Mac 10.8",
    "short_version":"6",
    "scout":"webdriver"
  },
  {
    "long_name":"Google Chrome",
    "api_name":"chrome",
    "long_version":"27.0.1453.110.",
    "preferred_version":"",
    "automation_backend":"webdriver",
    "os":"Mac 10.8",
    "short_version":"",
    "scout":"webdriver"
  },
  {
    "long_name":"Opera",
    "api_name":"opera",
    "long_version":"12.15.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"12",
    "scout":"selenium"
  },
  {
    "long_name":"Android",
    "api_name":"android",
    "long_version":"4.0.4.",
    "preferred_version":"4",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"4.0",
    "scout":"webdriver"
  },
  {
    "long_name":"Lynx",
    "api_name":"lynx",
    "long_version":"2.8.7.",
    "preferred_version":"2.8.7",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"2.8.7",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"3.6.28.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"3.6",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"4.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"4",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"5.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"5",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"6.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"6",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"7.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"7",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"8.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"8",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"9.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"9",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"10.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"10",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"11.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"11",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"12.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"12",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"13.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"13",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"14.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"14",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"15.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"15",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"16.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"16",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"17.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"17",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"18.0.2.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"18",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"19.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"19",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"20.0.1.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"20",
    "scout":"webdriver"
  },
  {
    "long_name":"Firefox",
    "api_name":"firefox",
    "long_version":"21.0.",
    "preferred_version":"11",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"21",
    "scout":"webdriver"
  },
  {
    "long_name":"Google Chrome",
    "api_name":"chrome",
    "long_version":"27.0.1453.110.",
    "preferred_version":"",
    "automation_backend":"webdriver",
    "os":"Linux",
    "short_version":"",
    "scout":"webdriver"
  }
]
  </script>
</div>
